.container {
    margin: 0 auto;
    background-color: black;
    z-index: 1;
}

body {
    margin: 0;
}

body nav {
    list-style-type: square;
    margin: 0;
    padding: 0;
}

body nav ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
}

body nav ul li a {
    position: relative;
    color: black;
    top: 150px;
    font-size: 20px;
    background-color: white;
    text-decoration: none;
}

body nav ul li a:hover {
    position: relative;
    color: red;
    top: 150px;
    font-size: 20px;
    background-color: white;
    text-decoration: none;
}

body article {
    position: relative;
    color: white;
    margin-left: 200px;
    margin-top: 100px;
    font-size: 12px;
}